<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Upload image
    </title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>    
    <!-- <link href="{{url_for('static', filename='css/custom.css')}}" rel="stylesheet"/> -->
    <!-- <link rel="stylesheet" href="./style1.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->
    <link href="/static/upload.css" rel="stylesheet"/>
    
</head>

<body>   
    <nav class="navbar navbar-expand-lg " style="background-color: #48aff9;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/uploadfile">Link</a>
                    </li>


                </ul>

            </div>
        </div>
    </nav>
    <div class="container py-5">

        <header class="text-white text-center">
            <h1 class="display-4" >Upload Image</h1>
            <!-- <p class="lead mb-5">A webapp to recognize vegetables. Just drop an image.</p> -->
        </header>
    
    
        <div class="row py-2">
            
            <div class="col-8 mx-auto">
                <!-- <nav class="navbar bg-body-tertiary"> -->
                  
                  <!-- </nav> -->
                <!-- Upload image input-->                     
                <form action="/uploadfile" enctype="multipart/form-data" method="POST">
                    <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                        <input class="form-control border-0" id="upload" name="upload" type="file">
                        <label class="font-weight-light text-muted" for="upload" id="upload-label"></label>
                        <div class="input-group-append" >
                            <label class="btn btn-light m-0 rounded-pill px-4" for="upload"> <i
                                    class="fa fa-cloud-upload mr-2 text-muted"></i><small
                                    class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                        </div>
                    </div>
    
    
                    <!-- Uploaded image area-->
                    <p class="subheading  text-center">The image uploaded will be rendered inside the box
                        below.</p>
                    <div class="image-area mt-4"><img alt="" class="img-fluid rounded shadow-sm mx-auto d-block" id="imageResult" name="imageResult" src="#"></div>
    
                    <!-- Submit button-->
                    <div class="container">
                        <div class="row">
                            <div class="col text-center" >
                                <input class="btn btn-primary my-3" style="background-color: #a37b1d;" type="submit" />
                            </div>
                        </div>
                    </div>
                </form>
    
            </div>
        </div>
    </div>
       <script src="/static/image_upload.js"></script>
       <!-- <script src="{{url_for('static', filename='js/image_upload.js')}}"></script> -->
</body>

</html>